.question-wrapper {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .question-number {
        color: #ccc;
        margin-top: 5rem;
        margin-left: 5rem;
    }
}

app-quiestion {
    padding: 2rem;
}

.buttons {
    text-align: center;
    button {
        background-color: #ff8000;
        font-family: "Quicksand";
        padding: 8px 15px;
        font-weight: bold;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 3px;
        margin: 20px 5px;
        cursor: pointer;
        &:hover {
            opacity: 0.85;
        }
    }
}